/*normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*---------- end normalize ----------*/

/*---------- general properties ----------*/

a {
  color: #999999;
}

a:hover {
  color: #666666;
}

p {
  text-indent: 15px;
}

body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: #666666;
  background-color: #666666;
}

.container {
  overflow-x: hidden;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.section__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;

  color: #ffffff;
  background-color: #999999;
}

/*---------- header ----------*/
.nav {
  width: 100%;
  padding: 5px 5px;
  background-color: #999999;
}

.nav__list {
  display: flex;
  justify-content: end;
}

.nav__link,
.nav__link:visited {
  margin: 0px 5px 0px 5px;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  color: #ffffff;
}

.nav__link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/*---------- main ----------*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
}

/*---------- section my----------*/
.presentation {
  display: flex;
  -ms-flex-align: center;
  /* margin: auto; */
  background-color: #ffffff;
}

.my {
  width: 100%;
  /* padding-left: 2%; */
}

.my-basic {
  display: flex;
  padding-left: 10px;
}

.column {
  width: 49%;
}

.my-photo {
  /* flex-shrink: 0; */
  width: 25vw;
  height: 25%;
  padding: 0.5% 2%;
  clip-path: ellipse(77% 46% at 50% 50%);
}

.my__name {
  margin-top: 20px;
  padding-right: 10%;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #666666;
}

.my__profession {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #999999;
}

.my-basic__list {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.my-basic__item {
  position: relative;
  padding: 10px 5px 5px 20px;
  color: #999999;
}

.my-basic__item::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #666666;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.my-basic__item > span {
  padding-right: 7px;

  color: #666666;
}

/*---------- section ----------*/
.about {
  padding: 10px;
  /* margin-top: 15px;
  background-color: #ffffff;*/
}

.aboute__text
/* ,
.work-experience__text */ {
  padding: 10px 10px 20px 30px;
}

/*---------- summary ----------*/
.summary {
  margin-top: 10px;
  background-color: #ffffff;
}

.summary__item {
  width: 100%;
  padding: 10px 10px 20px 10px;
  background-color: #ffffff;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section__item {
  position: relative;
  width: 48%;
  padding: 5px 5px 5px 50px;
}

.section__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 30px;
  width: 10px;
  height: 10px;
  border: 1px solid #999999;
  border-radius: 50%;
}

/*---------- code-example ----------*/
.code-example {
  padding-bottom: 5px;
}

.code-example__code {
  color: #999999;
}

/*---------- footer ----------*/
.footer {
  padding: 10px 5px;
  background-color: #999999;
  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
}

.footer__link {
  color: #ffffff;
}

.footer__logo-img {
  right: 0;
  width: 60px;
}

@media (max-width: 768px) {
  .section__item {
    width: 100%;
    font-size: 14px;
  }

  .my {
    padding-left: 2%;
  }

  .my-photo {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .section__item {
    width: 100%;
    padding-left: 25px;
    font-size: 12px;
  }
  .section__item::before {
    left: 10px;
  }
  .aboute__text
/* , .work-experience__text */ {
    width: 100%;
    padding: 10px 10px 20px 10px;
    font-size: 14px;
  }

  .code-example {
    font-size: 14px;
  }

  .column__contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .my__name {
    font-size: 22px;
  }
  .my__profession {
    font-size: 18px;
  }
}
